## Bibliotheques

In [104]:
import  pandas as pd

## Dataframes

### brand

In [105]:
brand = pd.read_csv('..//data//raw_data//brands.csv')

#copy ligne 1 en ligne 2
brand.loc[1] = brand.loc[0]
#copy entete en ligne 1
brand.loc[0] = brand.columns
#remplacer entete par " "
brand.columns = [" "]*len(brand.columns)
brand=brand.transpose()
brand.columns = brand.iloc[0]
brand=brand[1:]
brand.reset_index(drop=True, inplace=True)
brand['brand_name'] = brand['brand_name'].astype('string')
brand['brand_id'] = brand['brand_id'].astype(int)
brand.to_csv('..//data//cleaned_data//brands_clean.csv', index=False)

### categories

In [110]:
category = pd.read_csv('..//data//raw_data//categories.csv')
category.columns = category.iloc[0]
category=category[1:]
category.reset_index(drop=True, inplace=True)
category['category_name'] = category['category_name'].astype('string')
category['category_id'] = category['category_id'].astype(int)
category.to_csv('..//data//cleaned_data//categories_clean.csv', index=False)

### customers

In [122]:
customer = pd.read_csv('..//data//raw_data//customers.csv')
#changerv le type de first_name en string , last_name en string, phone en int, email en string, street en string, city en string, state en string, country en string, zip_code en int
customer['first_name'] = customer['first_name'].astype('string')
customer['last_name'] = customer['last_name'].astype('string')  
customer['phone'] = customer['phone'].astype('string')
customer['email'] = customer['email'].astype('string')
customer['street'] = customer['street'].astype('string')
customer['city'] = customer['city'].astype('string')
customer['state'] = customer['state'].astype('string')
customer['zip_code'] = customer['zip_code'].astype(int)
customer = customer.drop_duplicates(keep='first')
customer.to_csv('..//data//cleaned_data//customers_clean.csv', index=False)
customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1445 entries, 0 to 1444
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  1445 non-null   int64
 1   first_name   1445 non-null   string
 2   last_name    1445 non-null   string
 3   phone        178 non-null    string
 4   email        1445 non-null   string
 5   street       1445 non-null   string
 6   city         1445 non-null   string
 7   state        1445 non-null   string
 8   zip_code     1445 non-null   int64
dtypes: int64(2), string(7)
memory usage: 101.7 KB

### order_items

In [121]:
order_item = pd.read_csv('..//data//raw_data//order_items.csv')
order_item.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4691 entries, 0 to 4690
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   order_id    4691 non-null   int64
 1   item_id     4691 non-null   int64
 2   product_id  4691 non-null   int64
 3   quantity    4691 non-null   int64
 4   list_price  4691 non-null   float64
 5   discount    4691 non-null   float64
dtypes: float64(2), int64(4)
memory usage: 220.0 KB